<div style="text-align: left;"><my-header [header]="header"></my-header>  {{now}}</div>
<br/>

<div *ngIf="showTable">

	<car-table [items]="carList">></car-table>

	
	<br/>
	<button type="button" (click)="startCreateCar()">Create</button>

	<button type="button" (click)="sortAgain()">Sort</button>

</div>


<div *ngIf="!showTable">
	<label>New Car Information:</label>
	<br/>
	<label for="new-make">Make</label>
	<input type="text" id="new-make" name="new-make" [(ngModel)]="newCar.make" />
	<label for="new-model">Model</label>
	<input type="text" id="new-model" name="new-model" [(ngModel)]="newCar.model" />
	<label for="new-year">Year</label>
	<input type="text" id="new-year" name="new-year" [(ngModel)]="newCar.year" />
	<label for="new-color">Color</label>
	<input type="text" id="new-color" name="new-color" [(ngModel)]="newCar.color" />
	<br/>
	<button type="button" (click)="addCar(newCar)">Add Car</button> 
</div>

<input type="checkbox" [(ngModel)]="showTable" >Show Me
<div *ngIf="showTable">
	you can see me!
</div>

<div [ngSwitch]="favColor">
	<div *ngSwitchCase = " 'blue' ">My favorite color is blue</div>
	<div *ngSwitchCase = " 'green' ">My favorite color is green.</div>
	<div *ngSwitchCase = " 'red' ">My favorite color is red.</div>
	<div *ngSwitchDefault>My favorite color is hot pink.</div>
</div>
