
	<table>
		<thead>
			<tr>
				<th>Name</th><th>Unit Price</th><th>Package</th><th>Is Discontiued</th><th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let product of productList">
				<td>{{product.name}}</td>
				<td>{{product.unitPrice}}</td>
				<td>{{product.package}}</td>
				<td>{{product.isDiscontinued}}</td>
				<td><button type="button" (click)="btnViewDetail(product.id)" >View Detail</button></td>
			</tr>
		</tbody>
	</table>
<div>
	<product-detail [product]="product"></product-detail>
</div>
	
<!--
<button type="button" (click)="btnCreateClick()">Create</button>
<ul><li *ngFor="let product of productList">{{product.name}}</li></ul>
-->