<form novalidate>
	<div>
		<label id="first-name-label">First name:</label>
<!--		<input type="text" id="first-name" name="fistName" [(ngModel)]="firstName" required #firstNameInput="ngModel" > -->
		<input type="text" id="first-name" name="fistName" (blur)="firstName = firstNameInput.value" [ngModel]="firstName" myRequired #firstNameInput="ngModel" >
		<span *ngIf="!firstNameInput.valid">First Name is a required field</span>
		<br/>

		<label id="last-name-label">Last name:</label>
		<input type="text" id="last-name" name="lastName" (blur)="lastName = lastNameInput.value" [ngModel]="lastName" required #lastNameInput="ngModel" >
		<span *ngIf="!lastNameInput.valid">Last Name is a required field</span>
		<br/>

		<label id="age-label">Age:</label>
		<input type="text" id="age" name="age" (blur)="age = ageInput.value" [ngModel]="age" pattern="[0-9]*" required type="number" #ageInput="ngModel" >
		<span *ngIf="!ageInput.valid">age is a required field</span>
		<br/>

		{{firstName}} {{lastName}}: {{age}}

		<div>
			<label for='is-employed'>Is Employed:</label>
			<input type="checkbox" id="is-employed" name="isEmployed" [(ngModel)]="isEmployed">
		</div>

	</div>

	<fieldset>
		<legend>Select a Division</legend>
		<div>
			<input type="radio" id="division-finance" name="division" value="finance" [(ngModel)]="division">
			<label for='division-finance'>Fianance</label>
		</div>
		<div>
			<input type="radio" id="division-health" name="division" value="helath" [(ngModel)]="division">
			<label for='division-health'>Health</label>
		</div>
	</fieldset>

	<div>
		<label>Comments:</label>
		<textarea id="comments" name="comments" [(ngModel)]="comments"> </textarea>
	</div>

	
	<div>
		<label>State of Residence:</label>
		<select id="state-of-residence" name="stateOfResidence" [(ngModel)]="stateOfResidence"  multiple>
			<option *ngFor="let state of states" [value]="state">
				{{state}}
			</option>
		</select>
	</div>

</form>