<div style="text-align: left;"><my-header [header]="header"></my-header>  {{now}}</div>
<br/>

<div *ngIf="showTable">

	<!-- 
		 [carLot] is used to match the attribute in the catTable compoent,
			the value "carLot" is passed in from parent component.
	 -->

	<car-table [carLot]="carLot"></car-table>
	
	
</div>


<div *ngIf="!showTable">
	<car-builder (newCarEventEmitter)="newCarHandler($event)"></car-builder>


</div>

<br/> 
<button type="button" (click)="startCreateCar()">Create</button>

<input type="checkbox" [(ngModel)]="showTable" >Show Me
<div *ngIf="showTable">
	you can see me!
</div>

<div [ngSwitch]="favColor">
	<div *ngSwitchCase = " 'blue' ">My favorite color is blue</div>
	<div *ngSwitchCase = " 'green' ">My favorite color is green.</div>
	<div *ngSwitchCase = " 'red' ">My favorite color is red.</div>
	<div *ngSwitchDefault>My favorite color is hot pink.</div>
</div>
